{% extends 'base.html' %}
{% block content %}

    <h1>Запрос на уборку</h1>

    <form method="post">
        {% csrf_token %}
        {% if employee_type == 'Администратор' %}
        {{ form.as_p }}
        <button type="submit" name="save-clean-request" class="btn btn-secondary">Сохранить</button>
        {% endif %}
        {% if not new %}
        <button type="submit" name="close-clean-request" class="btn btn-secondary">Пометить выполненным</button>
        {% endif %}

    </form>

{% endblock %}